.navbar {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    border-color: transparent;
    margin: 0;
}

.navbar-inverse {
    background-color: rgba(225, 225, 225,0.3);
}

.navbar-inverse .navbar-toggle {
    background-color: rgba(225, 225, 225,0.3);
}

.navbar-inverse .navbar-toggle:hover {
    background-color: rgba(225, 225, 225,0.3);
}

.navbar-brand {
    font-weight: bold;
}

.navbar li:hover {
    background-color: rgb(19, 24, 44);
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

.FB-logo-wrapper {
    display: inline-block;
    margin-top: -30px;
    color: #fff;
    font-weight: 100;
    letter-spacing: .6px;
}

.FB-logo-wrapper .FB-logo {
    margin-right: -15px;
    padding-bottom: 3px;
}

.bio-text {
    max-width: 50em;
    margin: 20px auto;
    font: 1.8rem 'Open Sans', sans-serif;
    font-weight: 300;
    color: #333;
    letter-spacing: .5px;
    line-height: 33px;
    text-align: justify;
    background-color: #fff;
    padding: 30px 70px;
    border-radius: 5px;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    font: 300 35px 'Raleway', sans-serif;
    letter-spacing: 3px;
    color: #222;
}

#mask {
    position: relative;
    width: 100%;
}

#mask::after {
    background: transparent;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 80%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

h2 {
    text-align: center;
}

#left {
    padding: 15px;
}

#right {
    padding-top: 10%;
    padding-bottom: 10%;
}

.label {
    width: 94px;
    margin-top: -1px;
    margin-right: 8px;
    display: block;
    float: left;
    font-size: 16px;
    color: #333;
    padding: 0;
}

footer {
    font-size: 15px;
    display: block;
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 20px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 4%;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    visibility: visible;
}


ul.dropdown-menu {
    position: absolute;
    background-color: black;
    border: 1px solid ;
    text-align: center;
}

ul.dropdown-menu > li > a {
    display: block;
    padding: 1px;
    color: white;
    text-decoration: none;
}

ul.dropdown-menu > li > a:hover {
    color: #ffcb4e;
}

ul.navbar > li:hover > ul {
    display: block;
}
  
h2{
    color:black;
    font-family:'Anton', sans-serif;
    letter-spacing: 20px;
    font-size: 40px;
    margin-bottom: 39px;
    margin-top: 40px;
    animation-duration: 1s;
    animation-name: slidein ;
    }
    .menu {
        list-style-type: none;
        padding-left: 300px;
        margin-left: 0;
        animation-duration: 2s;
   animation-name: swap ;
        margin-top: -200px;
        }
    .menu a {            
        text-decoration: none;
        font-family: sans-serif;
        color: white;
        display: inline-block;
        padding: 10px 150px 10px 20px;
        background-color: rgb(255, 20, 147);
        background: rgba(205, 214, 219, 0.3);
        }
        .menu a:hover{
        background-color: rgb(255, 20, 147);
        }
        .menu li {
        display: inline;
        margin-right: -5px;
        }
        .menu li ul {
        position: absolute;
        width:160px;
        display: none;
        padding-left: 410px;
        animation-duration: 2s;
        animation-name: swap;
        }
        .menu li:hover  ul{
        display: block;
        }
        .intro {
        background: #222 url(2000x1333.jpg) no-repeat center center;
        background-repeat: repeat-y, repeat-y;
        background-position: left, right;
        background-attachment: fixed, fixed;
        background-size: 1920px 1000px;
        padding: 290px 0 50px;
        position: relative;
        }
        figure {
        float: left;
        width: 28%;
        text-align: center;
        font-style: sans-serif;
        margin: 0.5em;
        padding: 0.5em;
        }
        figcaption{
        text-align: center;
        padding-left: 150px;
        }
        footer{
        margin-top: 500px;
        }
        .custom_block{
        height: 1600px;
        height: 100%;               
        width: 100%;
        min-width: 10px;
        background-color: rgba(225, 225, 225,0.3);
        position: relative;
        overflow: hidden;
        }
        .hline { 
        width: 100%;
        height:3px;
        background: #FF1493;
        margin-top:20%;
        margin-bottom: 10%;
        /* padding-top: 30%; */
        /* padding-bottom: 10%; */
        }
        .bottom{
            border-bottom: 3px solid #FF1493;
            border-width: 100%;
            /* height: 3px; */
            padding-bottom: 10%; 
            margin-bottom:10%;
            margin-top: 10%;
        }
        .image{
        padding-left: 12px;
        height: 330px;
        width: 250px;
        padding-top:25px;
        }
        .custom-toggler.navbar-toggler {
        border-color:#FF1493;
        }
        .custom-toggler.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
        .navbar {
         background-color: transparent;
         background: transparent;
         border-color: transparent;
        }
        .navbar li { 
            color: #000 ;
        } 
        * {
        box-sizing: border-box;
        }
        .column {
        width: 33.33%;
        padding: 10px;
        }
        .custom_footer_block{
            height: 30px;
            width: 100%;
            background-color: rgba(225, 225, 225,0.3);
        }
        @keyframes slidein  {
            from {
             opacity:0;margin-right:  1000px; 
             }
             to {
             margin: 0; 
             }
             }
         @keyframes swap  {

             0% {
             opacity:0;
            margin-left:  0;
            }
            25% { 
             margin-left:  0; 
             }
            50% { 
            margin-left:  150px; 
            }
            100% {
             margin-left: 0; 
             }
            }  
            #navbar{
                /* padding-top :0;
                padding-bottom:0;  */
                width: 100%;
                /* margin-left: 15.79%; */
                margin-top: -290px;
                margin-bottom: 200px;
                }
            #navbarSupportedContent a {
                  
                  text-decoration: none;
                  font-family: sans-serif;
                  color: white !important;
                  display: inline-block;
                  padding: 10px 20px 10px 20px;
                  background-color: black!; 
                  transition: 1s all;
                }
                #navbarSupportedContent a:hover{
                background: #FF1493;;
                padding: 10px,0px,10px,20px;
                    }
                #dropdown{
                background-color:  rgba(225, 225, 225,0.3);
                }
                #for_fans{
                    background-color: rgba(225, 225, 225, 0,3);
                }
                .card{
                    /* width: 70%;
                    height: 160px; */
                    margin-left: 200px;
                    margin-right: 50px;
                    margin-top:100px;
                    border-color: black;
                }
                h1 {
                background-color: rgba(256,256,256,.03);
                background-image: -webkit-linear-gradient(top, #111, #0c0c0c);
                background-image: -moz-linear-gradient(top, #111, #0c0c0c);
                background-image: -ms-linear-gradient(top, #111, #0c0c0c);
                background-image: -o-linear-gradient(top, #111, #0c0c0c);
                font-size: 2em;
                font-family: 'Amethysta', serif;
                text-align: center;
                line-height: 1.4em;
                text-transform: uppercase;
                letter-spacing: .3em;
                white-space:nowrap;
                }
                #span {
                color: #000;
                font-family: 'Caesar Dressing', cursive;
                font-size: 5em;
                text-transform: lowercase;
                vertical-align: middle;
                letter-spacing: .2em;
                }

                .fire {
                animation: animation 1s ease-in-out infinite alternate;
                -moz-animation: animation 1s ease-in-out infinite alternate;
                -webkit-animation: animation 1s ease-in-out infinite alternate;
                -o-animation: animation 1s ease-in-out infinite alternate;
                }

                .burn {
                animation: animation .65s ease-in-out infinite alternate;
                -moz-animation: animation .65s ease-in-out infinite alternate;
                -webkit-animation: animation .65s ease-in-out infinite alternate;
                -o-animation: animation .65s ease-in-out infinite alternate;
                }

                @keyframes animation
                {
                0% {text-shadow: 0 0 20px #fefcc9,
                10px -10px 30px #feec85,
                -20px -20px 40px #ffae34,
                20px -40px 50px #ec760c,
                -20px -60px 60px #cd4606,
                0 -80px 70px #973716,
                10px -90px 80px #451b0e;}
                100% {text-shadow: 0 0 20px #fefcc9,
                10px -10px 30px #fefcc9,
                -20px -20px 40px #feec85,
                22px -42px 60px #ffae34,
                -22px -58px 50px #ec760c,
                0 -82px 80px #cd4606,
                10px -90px 80px  #973716;}
                }

                @-moz-keyframes animation
                {
                0% {text-shadow: 0 0 20px #fefcc9,
                10px -10px 30px #feec85,
                -20px -20px 40px #ffae34,
                20px -40px 50px #ec760c,
                -20px -60px 60px #cd4606,
                0 -80px 70px #973716,
                10px -90px 80px #451b0e;}
                100% {text-shadow: 0 0 20px #fefcc9,
                10px -10px 30px #fefcc9,
                -20px -20px 40px #feec85,
                22px -42px 60px #ffae34,
                -22px -58px 50px #ec760c,
                0 -82px 80px #cd4606,
                10px -90px 80px  #973716;}
                }

                @-webkit-keyframes animation
                {
                0% {text-shadow: 0 0 20px #fefcc9,
                10px -10px 30px #feec85,
                -20px -20px 40px #ffae34,
                20px -40px 50px #ec760c,
                -20px -60px 60px #cd4606,
                0 -80px 70px #973716,
                10px -90px 80px #451b0e;}
                100% {text-shadow: 0 0 20px #fefcc9,
                10px -10px 30px #fefcc9,
                -20px -20px 40px #feec85,
                22px -42px 60px #ffae34,
                -22px -58px 50px #ec760c,
                0 -82px 80px #cd4606,
                10px -90px 80px  #973716;}
                }

                @-o-keyframes animation
                {
                0% {text-shadow: 0 0 20px #fefcc9,
                10px -10px 30px #feec85,
                -20px -20px 40px #ffae34,
                20px -40px 50px #ec760c,
                -20px -60px 60px #cd4606,
                0 -80px 70px #973716,
                10px -90px 80px #451b0e;}
                100% {text-shadow: 0 0 20px #fefcc9,
                10px -10px 30px #fefcc9,
                -20px -20px 40px #feec85,
                22px -42px 60px #ffae34,
                -22px -58px 50px #ec760c,
                0 -82px 80px #cd4606,
                10px -90px 80px  #973716;}
                }
                /* @media (max-width: 480px) { */
                    .custom_block{
                padding:0;
                  margin:0;
                }
                body {
                  padding:0;
                }

                .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
                margin-left: 0;
                margin-right: 0;
                margin-bottom:0;
                }
                /* } */
                iframe{
                width: 80%; 
                height:  500px; 
                padding-left:  23.5%;
                padding-top: 100px;

            }

            .form-group{
                width: 80%;
                padding-left: 30%;
                margin-left: 35%;
                margin-top: 1%;
                float: right;
                padding-top: 40px;
            }

            button{
                width: 20%;
                margin-left: 20%;
                margin-top:  50px;
            }
            
            #send{
                margin-top:13%;
                position: absolute;
                background: rgb(7,205,37) !important;
            }

            textarea{
                margin-top: 10px;
            }
        
            .block{
                /* border-top:  3px solid gray; */
                width: 80%;
                align-content: center; 
                margin-left: 8%;
                margin-top: 2%;

            }
            
            .pred{
                    float: left;
                    border: 1px solid white;
                    background-color: white;
                    text-align: center;
                    width: 100px;
                    color:black; 
                    /* display:flex; */
                    position: relative;
                }
                .coment{
                    background:#fefcc9;
                    color:black;
                    position: relative;
                    text-align:center;
                    display: flex;
                }
                #move{
                    margin-left: 30%;
                }